.home-page-bg-container {
  background: #f5f7fa;
}
.responsive-home-page-top {
  padding: 16px 24px;
}
@media screen and (min-width: 786px) {
  .responsive-home-page-top {
    padding: 0px;
  }
}
@media screen and (min-width: 786px) {
  .home-page-bg-container {
    padding: 36px 50px;
  }
}
@media screen and (min-width: 1200px) {
  .home-page-bg-container {
    padding: 42px 75px;
  }
}
@media screen and (min-width: 1440px) {
  .home-page-bg-container {
    padding: 48px 100px;
  }
}
.home-heading {
  font-weight: 600;
  font-size: 20px;
  color: #1e293b;
  margin: 0px;
}
.home-paragraph {
  font-weight: 500;
  font-size: 14px;
  color: #475569;
}
.home-find-responsive-books-btn {
  background: #0284c7;
  padding: 10px 20px;
  border-radius: 4px;
  color: #f8fafc;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 786px) {
  .home-find-responsive-books-btn {
    display: none;
  }
}
.home-find-desktop-books-btn {
  background: #0284c7;
  padding: 10px 20px;
  border-radius: 4px;
  color: #f8fafc;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 786px) {
  .home-find-desktop-books-btn {
    display: none;
  }
}
.home-top-rated-container {
  padding: 34px 71px;
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; */
  background-color: white;
  border-radius: 16px;
  /* max-height: 450px; */
}
@media screen and (max-width: 786px) {
  .home-top-rated-container {
    padding: 16px 24px;
    border-radius: 0px;
  }
}
.top-rated-heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding-top: 10px; */
  align-items: center;
}
.top-rated-heading {
  font-weight: 600;
  font-size: 24px;
  color: #1e293b;
  font-family: 'Roboto';
}

/* topratedbooks */

.top-rated-book-item-container {
  padding: 10px 28px;
}
.book-item-container {
  display: flex;
  flex-direction: column;
}
.slick-prev {
  left: -41px;
  background: #989898;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  /* padding: 10px; */
}
.slick-next {
  right: -41px;
  background: #989898;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.top-rated-book-img {
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 224px;
  border-radius: 4px;
}
.top-rated-book-name {
  color: #334155;
  font-weight: 600;
  font-size: 24px;
  font-family: 'Roboto';
  text-align: center;
  margin: 16px 0px 0px 0px;
}
@media screen and (max-width: 786px) {
  .top-rated-book-name {
    font-size: 12px;
  }
}
.top-rated-book-author {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #475569;
  margin: 0px;
}
@media screen and (max-width: 786px) {
  .top-rated-book-author {
    font-size: 10px;
  }
}
.slick-slide > div {
  margin: 0 16px;
}
.slick-list {
  margin: 0px -16px;
}
.top-rated-book-link {
  text-decoration: none;
}
